export POSTGRES_DB_HOST=127.0.0.1
export POSTGRES_DB_USER=ebilling
export POSTGRES_DB_NAME=ebilling
export POSTGRES_DB_PASSWORD=Abcd@1234
export POSTGRES_DB_PORT=5432
export ADMIN_USER=admin@e-billing.com
export ADMIN_PASSWORD=Abcd@1234
export ADMIN_NAME=Admin Master
export VIRTUAL_HOST=127.0.0.1
export SECRET_KEY=Q45Gpb2vkiYGoBi5jDz8mcWlmmFWgVbk
export SMTP_HOST=mail.tctav.com
export SMTP_USER=admin@e-billing.com
export SMTP_PASSWORD=Abcd@1234
export SMTP_PORT=587